<dict>
    <!-- ... outras configurações -->
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>REVERSED_CLIENT_ID</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>SEU_REVERSED_CLIENT_ID_AQUI</string>
            </array>
        </dict>
    </array>
</dict>